In [9]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [4]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
temp = list(zip(outside, inside))
temp

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [6]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [10]:
df = pd.DataFrame(randn(6,2), hier_index, ['A','B'])

In [11]:
dfb

             A         B
G1 1  1.293811  0.081126
   2 -0.408462 -0.867110
   3  0.674497  2.749445
G2 1  0.610918 -0.803704
   2  2.028791 -1.113128
   3  0.267426  1.908393

In [13]:
df.loc['G1'].loc[1]

A    1.293811
B    0.081126
Name: 1, dtype: float64

In [15]:
df.index.names = ['Groups','Num']
df

                   A         B
Groups Num
G1     1    1.293811  0.081126
       2   -0.408462 -0.867110
       3    0.674497  2.749445
G2     1    0.610918 -0.803704
       2    2.028791 -1.113128
       3    0.267426  1.908393

In [18]:
df.loc['G2'].loc[2]['B']

-1.1131277749964765

In [19]:
df.xs('G1')

            A         B
Num
1    1.293811  0.081126
2   -0.408462 -0.867110
3    0.674497  2.749445

In [22]:
df.xs(1,level='Num')

               A         B
Groups
G1      1.293811  0.081126
G2      0.610918 -0.803704