### Series is the main data type working with pandas

In [1]:
import numpy as np

In [2]:
import pandas as pd

### Create different data type
- python list
- numpy array
- python distionary

In [3]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

### Create the series with different data type

In [4]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [8]:
d

{'a': 10, 'b': 20, 'c': 30}

In [9]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### Create the Sereies(data,index) and working like python dictionary

In [11]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [12]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [13]:
ser1['Japan']

4

In [14]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

In [16]:
ser2['Italy']

5

In [17]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64